/* You can add global styles to this file, and also import other style files */

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

button {
    border: 0px;
    background: #6c7ae0;
    color: #ffffff !important;
    padding: 0.5em 1em;
    border-radius: 12px;
    margin: 1em 0.5em !important;
}